fastapi==0.68.1
motor==2.5.1
pytz
ujson==4.1.0
uvicorn==0.15.0
lxml==4.6.3
httpx==0.19.0
beautifulsoup4==4.9.3
fastapi-pagination==0.8.1
camel-snake-kebab==0.3.2
celery==4.3.0
redis==3.5.3
asgiref==3.4.1